@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    background-color: #181A1C;
}

    /* Navbar */
.header {
    height: 94px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 80px;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0 60px;
} 

.header .navbar .logo {
    height: 44px;
}

.header .navbar .mini-logo {
    display: none;
}

.header .top-right .dropdown {
    position: relative;
    top: -13px;
    right: -4px;
    cursor: pointer;
}

.header .top-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header .top-right ul{
    background-color: #181A1C;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px 10px;
    width: 180px;
    border-radius: 5px;
    display: none;
    list-style-type: none;
}

.header .top-right ul li img {
    padding: 0 10px;
}

.header .top-right .dropdown:hover ~ ul{
    display: block;
}

    /* Hero Section */
.hero-section {
    background-image: url(../assets/Rectangle\ 9.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 587px;
}

.hero-section .hero-detail {
    padding-left: 60px;
    padding-bottom: 70px;
}

.hero-section .hero-detail .hero-description {
    margin-bottom: 50px;
    max-width: 645px;
}

.hero-section .hero-detail .hero-description h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-section .hero-detail .hero-description p {
    font-weight: 500;
    font-size: 18px;
}

.hero-section .hero-detail .btn-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .hero-detail .btn-preview .btn-detail {
    display: flex;
    gap: 15px;
}

.hero-section .hero-detail .btn-preview .btn-detail button {
    background-color: transparent;
    border-radius: 48px;
    border: none;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
}

.hero-section .hero-detail .btn-preview .btn-detail .btn-start {
    background: #0F1E93;
    cursor: pointer;
}

.hero-section .hero-detail .btn-preview .btn-detail .btn-movie-detail {
    background-color: #22282A;
    cursor: pointer;
}

.hero-section .hero-detail .btn-preview .btn-detail button:last-of-type {
    background-color: transparent;
    color: #C1C2C4;
    border: 1px solid #C1C2C4;
    padding: 10px;
    border-radius: 24px;
}

.hero-section .hero-detail .btn-preview .btn-audio-off {
    padding: 10px;
    border: 1px solid #C1C2C4;
    border-radius: 70%;
    margin-right: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    /* Movie Section */
.movie-section {
    margin: 40px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.movie-section h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 60px;
}

.movie-section .movies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.movie-section .movies .movie-list-new-episode img,
.movie-section .movies .movie-list-top img,
.movie-section .movies .movie-list-new-release img {
    width: 234px;
    height: 365px;
}

.movie-section .movies .movie-list-new-episode p,
.movie-section .movies .movie-list-new-release p{
    background-color: rgba(15, 30, 147, 1);
    padding: 4px 10px;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 24px;
}

.movie-section .movies .movie-list-top p {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    background-color: rgba(183, 31, 29, 1);
    margin-left: 13%;
    border-radius: 0 4px 0 4px;
}

.movie-section .left-arrow {
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    background-color: #2F3334;
    padding: 10px;
    position: absolute;
    left: 3%;
    bottom: 25%;
}

.movie-section .right-arrow {
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    background-color: #2F3334;
    padding: 10px;
    position: absolute;
    right: 3%;
    bottom: 25%;
}

.movie-section .continue-movie-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.movie-section .continue-movie-list .card-continue-movie-1 {
    background: url(../assets/dont-look-up.png);
    width: 302px;
    height: 162px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    align-items: end;
    font-size: 15px;
    padding: 10px;
}

.movie-section .continue-movie-list .card-continue-movie-2 {
    background: url(../assets/all-of-us-are-dead.png);
    width: 302px;
    height: 162px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    align-items: end;
    font-size: 15px;
    padding: 10px;
}

.movie-section .continue-movie-list .card-continue-movie-3 {
    background: url(../assets/blue-lock.png);
    width: 302px;
    height: 162px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    align-items: end;
    font-size: 15px;
    padding: 10px;
}

.movie-section .continue-movie-list .card-continue-movie-4 {
    background: url(../assets/a-man-called-otto.png);
    width: 302px;
    height: 162px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    align-items: end;
    font-size: 15px;
    padding: 10px;
}

.movie-section .trending-left-arrow, 
.movie-section .top-left-arrow,
.movie-section .new-episode-left-arrow {
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    background-color: #2F3334;
    padding: 10px;
    position: absolute;
    left: 3.5%;
    bottom: 40%;
}

.movie-section .top-right-arrow,
.movie-section .trending-right-arrow,
.movie-section .new-episode-right-arrow {
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    background-color: #2F3334;
    padding: 10px;
    position: absolute;
    right: 3.5%;
    bottom: 40%;
}

/* Footer */
.footer {
    background-color: #181A1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 20px;
}

.footer .footer-logo img{
    margin-bottom: 20px;
}

.footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-content .genre-arrow,
.footer .footer-bantuan .bantuan-arrow {
    display: none;
}

.footer .footer-content .col {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .footer-content .col ul,
.footer .footer-bantuan ul {
    list-style-type: none;
}

.footer .footer-content .col ul li,
.footer .footer-bantuan ul li {
    padding: 7px 0;
}

.footer .footer-content .col ul li a,
.footer .footer-bantuan ul li a {
    color: #C1C2C4;
    text-decoration: none;
}

.footer .footer-content .col ul li a:hover,
.footer .footer-bantuan ul li a:hover {
    text-decoration: underline;
}


    /* Responsive Mobile Phone */
@media (max-width: 560px) {    
   .header {
    padding: 0 20px;
   }
   .header .navbar .logo{
    display: none;
   }
   .header .navbar .mini-logo{
    display: block;
   }
   .header .navbar a {
    padding: 0 10px;
    font-size: 15px;
   }
   .hero-section {
    height: 225px;
   }
   .hero-section .hero-detail {
    padding: 25px;
   }
   .hero-section .hero-detail .hero-description {
    margin-bottom: 12px;
   }
   .hero-section .hero-detail .hero-description h1 {
    font-size: 24px;
    margin-bottom: 12px;
   }
   .hero-section .hero-detail .hero-description p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
   }
   .hero-section .hero-detail .btn-preview .btn-detail button {
    padding: 4px 12px;
    font-size: 12px;
    }
    .hero-section .hero-detail .btn-preview .btn-audio-off {
        padding: 6px;
        margin-right: 3%;
    }

    .movie-section {
        display: flex;
        align-items: start;
        padding-left: 20px;
        overflow-x: hidden;
    }
    .movie-section h3 {
        font-size: 25px;
        font-weight: 500;
        margin-left: -2px;
    }   
    .movie-section .movies {
        gap: 15px;
    }    
    .movie-section .movies .movie-list-top img,
    .movie-section .movies .movie-list-new-episode img,
    .movie-section .movies .movie-list-new-release img {
        width: 95px;
        height: 145px;
    }
    .movie-section .movies .movie-list-new-episode p,
    .movie-section .movies .movie-list-new-release p {
        font-size: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .movie-section .movies .movie-list-top p {
        font-size: 6px;
    }
    .movie-section .left-arrow,
    .movie-section .top-left-arrow,
    .movie-section .trending-left-arrow,
    .movie-section .new-episode-left-arrow,
    .movie-section .right-arrow,
    .movie-section .top-right-arrow,
    .movie-section .trending-right-arrow,
    .movie-section .new-episode-right-arrow {
        display: none;
    }

    .footer {
        align-items: start;
        flex-direction: column;
        padding: 20px;
    }
    .footer .footer-logo img {
        margin-bottom: 20px;
        height: 25px;
    }
    .footer .footer-content .genre-arrow {
        display: block;
        width: 7px;
        height: 12px;
        position: absolute;
        right: 5%;
    }
    .footer .footer-bantuan .bantuan-arrow {
        display: block;
        width: 7px;
        height: 12px;
        position: absolute;
        right: 5%;
        bottom: -130%;
    }    
    .footer .footer-content .col, 
    .footer .footer-bantuan ul {
        display: none;
    } 
}