@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.header {
    height: 94px;
    background-color: rgba(32, 32, 38, 1);
    padding: 25px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar a {
    color: #ffffff;
    padding: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
} 

.header .navbar .top-right img {
    align-content: center;
}
